.bluebg{
    background-color: blue;
}

.blankspace{
    padding-bottom: 20px;
}

.centered{
    justify-content: center;
}

.card:hover{
    opacity: .65;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(23, 53, 63);
}