body{
    width: 100%;
    background-color:white;
}

.bluebg{
    background-color: blue;
}

.blankspace{
    padding-bottom: 20px;
}

.centered{
    justify-content: center;
}

.largecard{
    width:auto;
    height:auto;
}
.card:hover{
    transform: scale(0.99);
}

.navlogo{
    background-color:#57b9c5;
    height: 40px;
    
}

.navlogo img{
    height: 40px;
}

.copyspace{
    padding-top: 10px;
    justify-content: center;
}